:root{
  --bg-body:#FAFBFC;
  --bg-card:#FFFFFF;
  --bg-bth:#7B68EE;

  --text-col-header:#292D34;
  --text-col:#292D34;
  --text-col-label:#393D42;
  --text-col-icon:#BCC0C9;
  --text-col-error:#ff3333;
  --text-col-success:#5cb85c;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
